<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="../assets/css/landingpage.css">
</head>
<body>
    <div class="backgrnd-img">
        <nav class="navbar">
            <div class="nav-logo"><a href="#">Restaurants</a></div>
            <ul class="nav-links">
                <li class="link"><a href="home.html">Home</a></li>
                <li class="link"><a href="contactus.html">Contact Us</a></li>
                <li class="link"><a href="about.html">About us</a></li>
                <li class="reg-btn"><a href="register.html">Register</a></li>
            </ul>
        </nav>
        <section class="container">
            <div class="container-cont">
                <p>SIGN IN<br>AND<br> DIN IN</p>
            </div>
        </section>
        <button class="btn">Let's Get Started</button>
    </div>
</body>
</html>
